
/*box1*/
.box{
    width: 300px;
    height: 200px;
    background-color: red;
    position: absolute;
}
#box1{
    top: 0;
    left: 0;
    background-color: #00fefe;
}
#box2{
    top: 0;
    left: 350px;
}

#box3{
    top: 0;
    left: 800px;
}
#box4{
    top: 350px;
    left: 0;
}
#box5{
    top: 350px;
    left: 350px;
}
#box6{
    top: 350px;
    left: 800px;
}